[submodule "bundle/ctrlp.vim"]
	path = pack/whatever/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/loremipsum"]
	path = pack/whatever/start/loremipsum
	url = https://github.com/vim-scripts/loremipsum.git
[submodule "bundle/nerdcommenter"]
	path = pack/whatever/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/numbers.vim"]
	path = pack/whatever/start/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "bundle/ri.vim"]
	path = pack/whatever/start/ri.vim
	url = https://github.com/danchoi/ri.vim.git
[submodule "bundle/vim-fugitive"]
	path = pack/whatever/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
	path = pack/whatever/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-json-bundle"]
	path = pack/whatever/start/vim-json-bundle
	url = https://github.com/vim-scripts/vim-json-bundle
[submodule "bundle/vim-markdown"]
	path = pack/whatever/start/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-open-url"]
	path = pack/whatever/start/vim-open-url
	url = https://github.com/henrik/vim-open-url.git
[submodule "bundle/vim-repeat"]
	path = pack/whatever/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/vim-sensible"]
	path = pack/whatever/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-surround"]
	path = pack/whatever/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-chef"]
	path = pack/whatever/start/vim-chef
	url = https://github.com/t9md/vim-chef.git
[submodule "bundle/vim-ruby"]
	path = pack/whatever/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/indentLine"]
	path = pack/whatever/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/vim-indent-guides"]
	path = pack/whatever/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/delimitMate"]
	path = pack/whatever/start/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "bundle/vim-emoji"]
	path = pack/whatever/start/vim-emoji
	url = https://github.com/junegunn/vim-emoji.git
[submodule "bundle/vim-coffee-script"]
	path = pack/whatever/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-bling"]
	path = pack/whatever/start/vim-bling
	url = https://github.com/ivyl/vim-bling.git
[submodule "bundle/vim-chef-foodcritic"]
	path = pack/whatever/start/vim-chef-foodcritic
	url = https://github.com/dougireton/vim-chef.git
[submodule "bundle/vim-easymotion"]
	path = pack/whatever/start/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-lion"]
	path = pack/whatever/start/vim-lion
	url = https://github.com/tommcdo/vim-lion.git
[submodule "bundle/vim-golang"]
	path = pack/whatever/start/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "bundle/ack.vim"]
	path = pack/whatever/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-trailing-whitespace"]
	path = pack/whatever/start/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = pack/whatever/start/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/vim-textobj-user"]
	path = pack/whatever/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/vim-hardtime"]
	path = pack/whatever/start/vim-hardtime
	url = https://github.com/takac/vim-hardtime.git
[submodule "bundle/gitlink-vim"]
	path = pack/whatever/start/gitlink-vim
	url = https://github.com/mazubieta/gitlink-vim.git
[submodule "bundle/vim-rails"]
	path = pack/whatever/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/cream-capitalization"]
	path = pack/whatever/start/cream-capitalization
	url = https://github.com/vim-scripts/cream-capitalization.git
[submodule "bundle/vim-go"]
	path = pack/whatever/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/tagbar"]
	path = pack/whatever/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-multiple-cursors"]
	path = pack/whatever/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-rspec"]
	path = pack/whatever/start/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule "bundle/go-explorer"]
	path = pack/whatever/start/go-explorer
	url = https://github.com/garyburd/go-explorer.git
[submodule "bundle/flake8"]
	path = pack/whatever/start/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/numbertoggle"]
	path = pack/whatever/start/numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "bundle/vim-textobj-python"]
	path = pack/whatever/start/vim-textobj-python
	url = https://github.com/bps/vim-textobj-python.git
[submodule "bundle/FIGlet"]
	path = pack/whatever/start/FIGlet
	url = https://github.com/fadein/FIGlet.vim.git
[submodule "bundle/vim-yapf"]
	path = pack/whatever/start/vim-yapf
	url = https://github.com/mindriot101/vim-yapf.git
[submodule "bundle/vimtex"]
	path = pack/whatever/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "bundle/vim-solidity"]
	path = pack/whatever/start/vim-solidity
	url = https://github.com/tomlion/vim-solidity.git
[submodule "bundle/vim-dispatch"]
	path = pack/whatever/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "bundle/splitjoin.vim"]
	path = pack/whatever/start/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "bundle/vim-man"]
	path = pack/whatever/start/vim-man
	url = https://github.com/vim-utils/vim-man
[submodule "bundle/YouCompleteMe"]
	path = pack/whatever/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/openurl.vim"]
	path = pack/whatever/start/openurl.vim
	url = https://github.com/vim-scripts/openurl.vim.git
[submodule "bundle/rust.vim"]
	path = pack/whatever/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/ale"]
	path = pack/whatever/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/pydoc"]
	path = pack/whatever/start/pydoc
	url = https://github.com/vim-scripts/pydoc.vim
[submodule "pack/whatever/opt/vim-db"]
	path = pack/whatever/opt/vim-db
	url = https://github.com/tpope/vim-db
